body{
	background-image: url(images/dark.png);
}

h1, h2{
	text-align: center;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
	color: #DDD9E0;
}

ul{
	text-align: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

a, h3{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #DDD9E0;
	text-align: center;
	vertical-align: middle;
}

p{
	padding-bottom: 20px;
}

a:link {
	color: #121D21;
	text-decoration: none;
	padding: 10px;
	margin-bottom: 10px;
}

a:visited {
	color: #121D21;
}

#contentArea{
	background-color: #7A7A7A;
	height: 572px;
	/*width: 100%;*/
	margin-left: 110px;
	margin-right: 110px;
	border-radius: 10px ;
	border: 3px solid #DDD9E0;
}

#labelArea{
	/*float: left;
	vertical-align: middle;
	margin: 0 auto;*/
	position: absolute;
	left: 775px;
	bottom: 200px;
	text-align: right;
	/*width: 250px;*/
	/*border: 1px solid black;*/
}

#labelArea p{
	font-family: 'PT Sans', sans-serif;
}

#statArea{
	/*float: right;*/
	/*vertical-align: middle;
	margin: 0 auto;*/
	position: absolute;
	left: 1035px;
	bottom: 200px;
	text-align: left;
	/*border: 1px solid black;*/
	/*width: 1000px;*/
}

#statArea p{
	font-family: 'PT Sans Narrow', sans-serif;
	color: #BADA55;
}

.linkContainer ul li{
	display: inline;
}

.pic{
	border-radius: 10px ;
	border: 3px solid #BADA55;
	position: absolute;
	left: 300px;
	top: 270px;
}